header
{
    text-align: center;
    margin: auto auto 20px;
}
h1
{
    font-family: 'Shrikhand', cursive;
    padding-left: 2%;
    padding-right: 2%;
}
h4
{
    font-family: 'Roboto', sans-serif;
    font-size: 1.01em;
    padding-left: 2%;
    padding-right: 2%;
}
h2
{
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    font-weight: 800;
    padding-left: 2%;
    padding-right: 2%;
}
p
{
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    padding-left: 2%;
    padding-right: 2%;
}
.styled
{
    display: block;
    font-family: 'Roboto', sans-serif;
    margin: auto;
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1.1em;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 50px;
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
    inset -2px -2px 3px rgba(0, 0, 0, .6);
    background-image:linear-gradient(#FF79DA,#9356DC);
}
