body
{
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
a
{
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    color: black;
    margin: 0.5%;
    align-items: center;
    text-align: center;
}
h1, h2
{
    font-family: 'Shrikhand', cursive;
}
img
{
    width: 360px;
    height: auto;
}
section
{
    text-align: left;
    background-color: #ececec;
}
.conteneur
{
    width: 350px;
    font-size: 1.1em;
    text-indent: 5px;
    text-decoration:none;
    text-align: left;
    color: black;
    margin-left: 2%;
    margin-top: 5px;
    margin-bottom: 12px;
    border-radius: 10px;
    box-shadow: #7f7f7f;
    background-color: #ffffff;
}
h4
{
    font-weight: 800;
}
h5
{
    font-weight: 400;
}
.element
{
    display: flex;
    height: 30px;
    padding-left: 5px;
    align-items: center;
    background-color: #ffffff;
}
.element:nth-child(2)
{
    justify-content: space-between;
    margin-right: 4%;
}
button
{
    margin: 5% 15%;
}
.styled
{
    width: 250px;
    line-height: 3;
    font-size: 1.1em;
    color: #fff;
    border: 0;
    border-radius: 50px;
    background-image: linear-gradient(#FF79DA, #9356DC);
    align-items: center;
    text-align: center;
}
footer
{
    background-color: #000000;
    color: #fff;
    width: 100%;
    height: 180px;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    line-height: 0.5;
    text-align: left;
}
h5
{
    font-family: 'Shrikhand', cursive;
    padding-top: 2%;
    padding-left: 4%;
    padding-bottom: 25px;
    font-size: 1.1em;
    margin: 0;
    font-weight: 200;
}
footer .solid
{
    display: flex;
}
footer p
{
    padding-top: 5px;
    padding-bottom: 20px;
}
