body {
        font-family: 'Roboto', sans-serif;
        text-align: center;
        margin: 0;
    }
/*   Header   */    /*   Header   */    /*   Header   */    /*   Header   */
    .heading {
        display: flex;
        justify-content: center;
        text-decoration: none;
        color: black;
        align-items: center;
        text-align: center;
        font-size: 20px;
        padding-top: 2%;
    }
    .fa-arrow-left {
        position: absolute;
        color: #000000;
        left: 24px;
        top: 28px;
    }
    h1, h2 {
        font-family: 'Shrikhand', cursive;
    }
    h1 {
        font-size: 1.5em;
        margin-top: 7px;
        margin-bottom: 4px;
        font-weight: 600;
    }
    .img {
        width: 100%;
        height: 277px;
        object-fit: cover;
    }
    .palette {
        background: no-repeat center center / cover url(img/palette.jpg);
    }
    .note {
        background: no-repeat center center / cover url(img/note.jpg);
    }
    .francaise {
        background: no-repeat center center / cover url(img/francaise.jpg);
    }
    .delice {
        background: no-repeat center center / cover url(img/delice.jpg);
    }
/*  section  */    /*  section  */    /*  section  */    /*  section  */
    section {
        background-color: #f5f5f5;
        border-radius: 40px 40px 0 0;
        margin-top: -53px;
    }
    .labelle {
        display: flex;
        justify-content: space-around;
        padding-top: 10px;
        overflow: hidden;
    }
    h2 {
        font-size: 1.7em;
    }
    .coeur {
        padding-top: 30px;
        font-size: 1.5em;
        cursor: pointer;
        position: relative;
    }
    .plein {
        opacity: 0;
        position: absolute;
        padding-top: 2px;
    }
    .vide {
        opacity: 1;
        transition-duration: 1s;
        bottom: 0;
    }
    .coeur:hover > .plein {
        opacity: 1;
        background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition-duration: 1s;
    }
    .coeur:hover > .vide {
        opacity: 0;
    }
    h3 {
        font-weight: 400;
        font-size: 1em;
        border-bottom: 3px solid #99E2D0;
        width: 40px;
        height: 26px;
        margin-top: 10px;
        margin-left: 3%;
        margin-bottom: 10px;
    }
    .menu {
        display: flex;
        flex-direction: column;
    }
    .conteneur1, .conteneur2, .conteneur3, .conteneur4 {
        display: flex;
        justify-content: space-between;
        width: 90%;
        height: 68px;
        font-size: 1.1em;
        text-indent: 5px;
        margin: 10px 20px 17px;
        border-radius: 15px;
        box-shadow: 10px 12px 7px rgba(223, 221, 221, 0.6);
        background-color: #ffffff;
        overflow: hidden;
        cursor: pointer;
    }
    .text1 {
        text-align: left;
        font-weight: bold;
        margin: 7px 0 0 0;
        height: 33px;
        line-height: 22px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .text2 {
        text-align: left;
        font-size: 0.8em;
        color: #000000;
        font-weight: 400;
        margin-top: -6px;
        margin-bottom: 2px;
        line-height: 18px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .price {
        font-size: 0.8em;
        font-weight: bold;
        margin-top: 34px;
        margin-right: 20px;
    }
    .element_1 {
        display: flex;
        flex-direction: column;
        text-align: left;
        margin-left: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .element_2 {
    display: flex;
    }
/*  l'animation d'apparition  */    /*  l'animation d'apparition  */    /*  l'animation d'apparition  */
    @-webkit-keyframes plat {
        0% {
            opacity: 0;
        }
        90% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    .entrees {
        -webkit-animation: plat 0.3s linear backwards;
                animation: plat 0.3s linear backwards;
                opacity: 1;
        margin-bottom: 24px;
    }
    .entrees .conteneur1 {
        -webkit-animation: plat 0.6s linear backwards;
                animation: plat 0.6s linear backwards;
                opacity: 1;
    }
    .entrees .conteneur2 {
        -webkit-animation: plat 0.9s linear backwards;
                animation: plat 0.9s linear backwards;
                opacity: 1;
    }
    .entrees .conteneur3 {
        -webkit-animation: plat 1.2s linear backwards;
                animation: plat 1.2s linear backwards;
                opacity: 1;
    }
    .entrees .conteneur4 {
        -webkit-animation: plat 1.5s linear backwards;
                animation: plat 1.5s linear backwards;
                opacity: 1;
    }
    .plats {
        animation-name: plat;
        -webkit-animation: plat 1.8s linear backwards;
                animation: plat 1.8s linear backwards;
                opacity: 1;
        margin-bottom: 24px;
    }
    .plats .conteneur1 {
        -webkit-animation: plat 2.1s linear backwards;
                animation: plat 2.1s linear backwards;
                opacity: 1;
    }
    .plats .conteneur2 {
        -webkit-animation: plat 2.4s linear backwards;
                animation: plat 2.4s linear backwards;
                opacity: 1;
    }
    .plats .conteneur3 {
        -webkit-animation: plat 2.7s linear backwards;
                animation: plat 2.7s linear backwards;
                opacity: 1;
    }
    .desserts {
        -webkit-animation: plat 3s linear backwards;
                animation: plat 3s linear backwards;
                opacity: 1;
        margin-bottom: 24px;
    }
    .desserts .conteneur1 {
        -webkit-animation: plat 3.3s linear backwards;
                animation: plat 3.3s linear backwards;
                opacity: 1;
    }
    .desserts .conteneur2 {
        -webkit-animation: plat 3.6s linear backwards;
                animation: plat 3.6s linear backwards;
                opacity: 1;
    }
    .desserts .conteneur3 {
        -webkit-animation: plat 3.9s linear backwards;
                animation: plat 3.9s linear backwards;
                opacity: 1;
    }
    .slide {
        color: #ffffff;
        display: flex;
        background-color: #99E2D0;
        width: 0;
    }
    .slide .fa-circle-check {
        margin: auto;
        color: #ffffff;
        font-size: xx-large;
        font-weight: bold;
    }
/*  l'animation slide  */    /*  l'animation slide  */    /*  l'animation slide  */    /*  l'animation slide  */
    .conteneur1:hover > .element_2 .slide, .conteneur2:hover > .element_2 .slide,
    .conteneur3:hover > .element_2 .slide , .conteneur4:hover > .element_2 .slide {
        width: 60px;
        transition: 1s;
    }
    .conteneur1:hover > .element_2 .slide .fa-circle-check, .conteneur2:hover > .element_2 .slide .fa-circle-check,
    .conteneur3:hover > .element_2 .slide .fa-circle-check, .conteneur4:hover > .element_2 .slide .fa-circle-check {
        transform: rotate(-1turn);
        transition: transform 1s;
    }
/*   button    */     /*   button    */    /*   button    */     /*   button    */
    button {
        margin-top: 8px;
        margin-bottom: 74px;
    }
    .styled {
        width: 180px;
        line-height: 2.8;
        font-size: 1.1em;
        color: #fff;
        border: 0;
        border-radius: 50px;
        background-image: linear-gradient(#FF79DA, #9356DC);
        align-items: center;
        text-align: center;
        cursor: pointer;
    }
    .styled:hover {
        box-shadow: 2px 6px 16px 1px rgba(31, 31, 31, 0.48);
        background-image: linear-gradient(#fd8adc, #a173dc);
    }
/*  footer  */     /*  footer  */     /*  footer  */     /*  footer  */
    footer {
        background-color: #000000c9;
        color: #fff;
        padding-left: 5%;
        text-align: left;
    }
    h5 {
        font-family: 'Shrikhand', cursive;
        font-size: 1.1em;
        padding-top: 7%;
        margin: 0;
        font-weight: 200;
    }
    footer .plus {
        margin-top: 10px;
    }
    footer .solid2 {
        display: flex;
    }
    footer p {
        font-size: 1em;
        margin: 10px 0 0 0;
    }
    footer .text1 {
        font-weight: unset;
        margin: unset;
        height: unset;
        padding-left: 20px;
        font-size: 1.05em;
    }
    footer .text2 {
        padding-left: 14px;
        color: white;
        font-weight: 400;
        font-size: 1em;
        margin: unset;
        line-height: unset;
    }
@media screen and (min-width: 760px) {
    .img {
        height: 350px;
    }
    .menu {
        flex-direction: unset;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .conteneur1, .conteneur2, .conteneur3, .conteneur4 {
        width: 325px;
    }
    h5 {
        padding-top: 5%;
    }
}
